services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile.prod
    container_name: hlgiles_app
    restart: unless-stopped
    environment:
      - APP_ENV=production
      - APP_DEBUG=false
    volumes:
      - app_code:/var/www
    networks:
      - default

  nginx:
    image: nginx:alpine
    container_name: hlgiles_nginx
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - app_code:/var/www:ro
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - default

volumes:
  app_code:
